# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
.venv/
ENV/

# PyCharm project settings
.idea/
*.iml

# Logs and temporary files
*.log
*.tmp
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
